body {
	background-image: url('../../assets/img/bg.png');
	background-attachment: fixed;
	margin: 20px;
	font-family: Verdana, Geneva, sans-serif;
}

.container {
	background-color: white;
	margin: 20px auto;
	padding: 20px;
	
	border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#template-laughingbear {
	
}

#template-laughingbear > .menu {
	font-family: 'Nunito', sans-serif;
	font-size: 1.5em;
}

#template-laughingbear > .menu > div {
	text-align: center;
}

#template-laughingbear > .menu > .mainTitle {
	font-size: 2.0em;
}

#template-laughingbear > .copyright {
	text-align: right;
}